{% extends "layout.html" %}
{% block content %}
    <div class="content-section" align-items="centre">
        <div class="tagline">
            <p>Retell your story...<br/>restore your images</p>
        </div> 
        <div class="dropzone">
            <div class="dz-message needsclick">
             <span class="glyphicon glyphicon-cloud-upload"></span>
            </div>
        </div>
        <script>
           $(".dropzone").dropzone({
             url: '/upload',
             maxFiles: 0,
             progressBarWidth: '100%',
           });
        </script> 

       
    </div>
{% endblock content %}